fastapi
uvicorn
langgraph
langchain
langchain-google-genai
pydantic
psycopg2-binary
google-cloud-storage
langchain-google-vertexai
python-multipart
langchain-core
google-cloud-storage>=2.10.0
google-auth>=2.20.0
reportlab